@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --txtPrincipal: #ffb701;
    --txtSlogan: #C9AB8F;
    --txtTitulo: #ffffff;
    --txtParrafo: #2e2e2e;
    --txtNegro: #0c0c0c;

    --space-cadet: #1f2041;
    --sunglow: #ffc857;
    --dark-cyan: #119da4;
    --paynes-gray: #19647e;
    --light-color: #fff;
    --muted-color: slategray;
    --dot-color: #ccc;

    --espacioPadding: 1.5em .8em;
}